- unless @experiment.nil?
  %h4= link_to "Back to #{@experiment.title} Results", result_experiment_path(@experiment)
- else
  %h4= link_to "Back to all experiment results", all_results_experiments_path
  
%br
%h3 Total Responses: #{@responses.length}
- @responses.each do |r|
  %fieldset
    %p= r
%br    