.container
  %h1 All Experiments Results
  %br
  %h3 Total Bug Reports Used: #{@total_bug_reports}
  %br
  %h3 Total Invitations: #{@total_invitations}
  %h4 Lex Invitations: #{@lex_invitations}
  %h4 Email Invitations: #{@email_invitations}
  %br
  %h3 Total Accessed: #{@total_accessed}
  %h4 Lex Accessed: #{@lex_accessed}
  %h4 Email Accessed: #{@email_accessed}
  %br
  %h3 Total Submissions: #{@all_submissions.count}
  %h4 Lex Submissions: #{@lex_submissions.count}
  %h4 Email Submissions: #{@email_submissions.count}

  = render :partial => 'q1_result', :locals => { :result => @q1_lex, :summary => 'Lex' }
    
  = render :partial => 'q1_result', :locals => { :result => @q1_email, :summary => 'Email' }

  = render :partial => 'q4_result', :locals => { :result => @q4 }
  
  = render :partial => 'q5_result', :locals => { :result => @q5 }
  
  = render :partial => 'contact_result', :locals => { :result => @contact }