.container
  %h1 Listing experiments

  %table
    %tr
      %th #
      %th Title
      %th Start at
      %th End at
      %th Actions

    - @experiments.each_with_index do |experiment,i|
      %tr{:class => "#{cycle('even','odd')}"}
        %td= i + 1
        %td= experiment.title
        %td= experiment.start_at
        %td= experiment.end_at
        %td
          = link_to 'Bugs', bug_reports_path(:exp_id => experiment.id)
          \|
          = link_to 'Emails', emails_path(:exp_id => experiment.id)
          \|
          = link_to 'Results', result_experiment_path(experiment)
          \|
          = link_to 'Export Results', export_results_experiment_path(experiment)
          \|
          = link_to 'Show', experiment
          \| 
          = link_to 'Edit', edit_experiment_path(experiment)
          \|
          = link_to 'Destroy', experiment, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Experiment', new_experiment_path, :class => 'btn btn-large'
  = link_to 'Export All Results', export_all_results_experiments_path, :class => 'btn btn-large'
