%h1 Listing experiments

%table
  %tr
    %th Title
    %th Start at
    %th End at
    %th Actions

  - @experiments.each do |experiment|
    %tr
      %td= experiment.title
      %td= experiment.start_at
      %td= experiment.end_at
      %td
        = link_to 'Bugs', bug_reports_path(:exp_id => experiment.id)
        \| 
        = link_to 'Show', experiment
        \| 
        = link_to 'Edit', edit_experiment_path(experiment)
        \|
        = link_to 'Destroy', experiment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Experiment', new_experiment_path
