.container
  %h1 Experiment "#{@experiment.title}" Results
  %p Total Submissions: #{@total_submissions.count}
  %p Lex Submissions: #{@lex_submissions.count}
  %p Email Submissions: #{@email_submissions.count}

  = render :partial => 'q1_result', :locals => { :result => @lex, :summary => 'Lex' }
    
  = render :partial => 'q1_result', :locals => { :result => @email, :summary => 'Email' }