.container
  %p#notice= notice

  %p
    %b Title:
    = @experiment.title
  %p
    %b Start at:
    = @experiment.start_at
  %p
    %b End at:
    = @experiment.end_at

  = link_to 'Edit', edit_experiment_path(@experiment)
  \|
  = link_to 'Back', experiments_path
