%p#notice= notice

%p
  %b Title:
  = @bug_report.title
%p
  %b Project:
  = @bug_report.project
%p
  %b Original link:
  = @bug_report.original_link

=# link_to 'Edit', edit_bug_report_path(@bug_report)
/\|
= link_to 'Back', bug_reports_path

.summaries
  %h2 Summaries
  %fieldset.summary
    %legend Lex Summary
    - @bug_report.comments.each do |com|
      - com.sentences.order('number ASC').each do |sen|
        - if sen.text.empty?
          %p
        - elsif sen.is_in_lex_summary?
          %span{ :class => "sentence" }
            = raw sen.text.gsub("\n","<br>")

  %fieldset.summary
    %legend Email Summary
    - @bug_report.comments.each do |com|
      - com.sentences.order('number ASC').each do |sen|
        - if sen.text.empty?
          %p
        - elsif sen.is_in_email_summary?
          %span.sentence
            = raw sen.text.gsub("\n","<br>")

.clear-both
            
.summaries
  %h2 Interlaced Summaries
  %fieldset.summary
    %legend Lex Summary
    - @bug_report.comments.order('number ASC').each do |com|
      .comment
        .comment-header
          = com.number
          \| 
          = com.submitted_at
          \| 
          = com.participant.email
        .comment-body
          - com.sentences.order('number ASC').each do |sen|
            - if sen.text.empty?
              %p
            - elsif sen.is_in_lex_summary?
              %span.sentence.highlight
                = raw sen.text.gsub("\n","<br>")
            - else
              %span.sentence
                = raw sen.text.gsub("\n","<br>")

  %fieldset.summary
    %legend Email Summary
    - @bug_report.comments.order('number ASC').each do |com|
      .comment
        .comment-header
          = com.number
          \| 
          = com.submitted_at
          \| 
          = com.participant.email
        .comment-body
          - com.sentences.order('number ASC').each do |sen|
            - if sen.text.empty?
              %p            
            - elsif sen.is_in_email_summary?
              %span.sentence.highlight
                = raw sen.text.gsub("\n","<br>")
            - else
              %span.sentence
                = raw sen.text.gsub("\n","<br>")