%p#notice= notice

%p
  %b Title:
  = @bug_report.title
%p
  %b Project:
  = @bug_report.project
%p
  %b Original link:
  = @bug_report.original_link

=# link_to 'Edit', edit_bug_report_path(@bug_report)
/\|
= link_to 'Back', bug_reports_path

%fieldset.bugreport
  %legend Bug Report
  - @bug_report.comments.each do |com|
    .comment
      .comment-header
        = com.number
        \| 
        = com.submitted_at
        \| 
        = com.participant.email
      .comment-body
        - com.sentences.order('number ASC').each do |sen|
          .sentence
            = sen.text

.summaries
  %h2 Summaries
  %fieldset.summary
    %legend Lex Summary
    - @bug_report.comments.each do |com|
      - com.sentences.order('number ASC').each do |sen|
        - if sen.is_in_lex_summary?
          .sentence
            = sen.text

  /.summary
  %fieldset.summary
    %legend Email Summary
    - @bug_report.comments.each do |com|
      - com.sentences.order('number ASC').each do |sen|
        - if sen.is_in_email_summary?
          .sentence
            = sen.text

.summaries
  %h2 Interlaced Summaries
  %fieldset.summary
    %legend Lex Summary
    - @bug_report.comments.each do |com|
      - com.sentences.order('number ASC').each do |sen|
        - if sen.is_in_lex_summary?
          .sentence.highlight
            = sen.text
        - else
          .sentence
            = sen.text

  /.summary
  %fieldset.summary
    %legend Email Summary
    - @bug_report.comments.each do |com|
      - com.sentences.order('number ASC').each do |sen|
        - if sen.is_in_email_summary?
          .sentence.highlight
            = sen.text
        - else
          .sentence
            = sen.text