- email_markers = APP_CONFIG[:email_markers_example]
%script{:type => "text/javascript"}
  email_markers = #{raw email_markers.to_json};
  
= form_for @email do |f|
  -if @email.errors.any?
    /#error_explanation
    .alert.alert-error
      %h4.alert-heading= "#{pluralize(@email.errors.count, "error")} prohibited this email from being saved:"
      %ul
        - @email.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :subject
    = f.text_field :subject, :style => 'width: 600px;'
  .field
    = f.label :body
    .row-fluid
      .span9
        = f.text_area :body, :style => 'width:100%;height:400px;'
      .span3
        %p Email Body: Use following as markers to be replaced by the data in the database. For example [bug_report_id] will be replaced in the email with the id of the bug report assigned to the participant.
        %ul
          - email_markers.each do |key,val|
            %li [#{key}]

        #btn_preview_email.btn.btn-info.btn-large Preview
        %p#email_preview{:style=>'margin-top:10px;'}
  .field
    = f.label :email_type
    = f.select :email_type, Email.TYPES.map{|type| [type.humanize, type]}, {:prompt => "- Select email type"}
  .field
    = f.label :experiment_id
    = f.select :experiment_id, Experiment.all.collect {|exp| [exp.title, exp.id]}, {:prompt => "- Select an experiment"}
  .actions
    = f.submit 'Save', :class => 'btn btn-large btn-success'
