%h1 Listing emails

%table
  %tr
    %th Subject
    %th Body
    %th Email type
    %th Experiment
    %th
    %th
    %th

  - @emails.each do |email|
    %tr
      %td= email.subject
      %td= email.body
      %td= email.email_type
      %td= email.experiment.title
      %td= link_to 'Show', email
      %td= link_to 'Edit', edit_email_path(email)
      %td= link_to 'Destroy', email, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Email', new_email_path, :class => 'btn btn-small'
