.container
  %h1 Listing emails

  %table
    %tr
      %th #
      %th Subject
      %th Body
      %th Email type
      %th Experiment
      %th Actions

    - @emails.each_with_index do |email,i|
      %tr{:class => "#{cycle('even','odd')}"}
        %td= i + 1
        %td= truncate email.subject
        %td= truncate email.body
        %td= email.email_type
        %td= email.experiment.title
        %td
          = link_to 'Show', email
          \|
          = link_to 'Edit', edit_email_path(email)
          \|
          = link_to 'Destroy', email, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Email', new_email_path, :class => 'btn btn-large'
  = link_to 'Experiments', experiments_path, :class => 'btn btn-large'