.container
  %p#notice= notice

  %p
    %b Subject:
    = @email.subject
  %p
    %b Body:
    = @email.body
  %p
    %b Email type:
    = @email.email_type
  %p
    %b Experiment:
    = @email.experiment.title

  = link_to 'Edit', edit_email_path(@email), :class => 'btn btn-small'
  \|
  = link_to 'Back', emails_path, :class => 'btn btn-small'
